<% include partials/header %>

  <div class="app-canvas">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/categories/science">
              <%= book.category %>
            </a>
          </li>

          <li>
            <%= book.title %>
          </li>
        </ul>
      </div>

      <div class="item-single row">

        <div class="item-content col-xs-12 col-sm-7 col-md-8">

          <article class="inner">
            <header>
              <h1>
                <%= book.title %>
              </h1>
              <ul class="info-list">
                <li>
                  <i class="fa fa-bookmark"></i>ID:
                  <%= book._id %>
                </li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  <%= book.createdAt.toDateString() %>
                </li>
              </ul>
            </header>


            <div class="item-gallery-slider">
              <div class="item-lg-images">

                <div class="slick-carousel slick-lg-images" data-asnav=".slick-sm-images" data-fade="true" data-slides-scroll="1" data-dots="false"
                  data-nav="false" data-slides="1" data-slides-lg="1" data-slides-md="1" data-slides-sm="1" data-loop="true"
                  data-auto="true">

                  <div class="item-lg-thumb imgAsBg">
                    <img src="/<%= book.photo %>" alt="">
                  </div>

                </div>
              </div>

            </div>



            <div class="quick-info">
              <ul class="clearfix">
                <li>
                  <div class="inner clearfix">
                    <span class="label">Category Name: </span>
                    <span class="desc">
                      <%= book.category %>
                    </span>
                  </div>
                </li>

                <li>
                  <div class="inner clearfix">
                    <span class="label">Tags: </span>
                    <span class="desc">
                      <%= book.category %>
                    </span>
                  </div>
                </li>


              </ul>
            </div>
            <div class="text-widget">
              <header>
                <h4>Book Description</h4>
              </header>
              <div class="inner">
                <p>
                  <%= book.description %>
                </p>
              </div>
            </div>

            <footer>
              <div class="inner row">
                <div class="col-xs-12 col-md-4">
                  <span class="item-views">
                    <i class="fa fa-eye"></i> Total Views: 0000</span>
                </div>
                <div class="col-xs-12 col-md-8 text-right-md">
                  Do you have Books to sell?
                  <a href="/signup">Sign Up and Post Your Ad</a>
                </div>


              </div>
            </footer>
          </article>

        </div>


        <aside class="sidebar col-xs-12 col-sm-5 col-md-4">
          <div class="inner">
            <div class="price-widget short-widget">
              <i class="adicon-dollar"></i>
              <strong>৳
                <%= book.price + ".00" %>
              </strong>
              <span>Negotiable Price</span>
            </div>

            <div class="user-widget text-center">
              <img src="/assets/img/basic/user-thumb.png" alt="asd">
              <h4>
                <a href="#">
                  <%= book.author.name %>
                </a>
              </h4>
              <div>Member Since 2013</div>
              <a href="#" class="link">More Books</a>
              <ul class="clearfix">
                <li>
                  <a class="btn btn-transparent" href="#">Send Message</a>
                </li>
                <li>
                  <a class="btn btn-transparent" href="#">Report This</a>
                </li>
              </ul>
            </div>


            <div class="check-list-widget">
              <h4>Safety Tips</h4>
              <ul>
                <li>Morbi ut tellus ac leo molestie</li>
                <li>Luctus nec vehicula seded justo</li>
                <li>Varius onec tempor rhons</li>
                <li>Polutpat ras lorem</li>
              </ul>
            </div>

          </div>
        </aside>

      </div>

    </div>

  </div>

  <% include partials/footer %>